<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    {% if site.author %}
    <meta name="author" content="{{ site.author }}"/>
    {% endif %}
    {% if page.description %}
    <meta name="description" content="{{ page.description }}"/>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if lt IE 9]>
    <script type="application/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }

        .sidebar-nav {
            padding: 9px 0;
        }
    </style>
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="css/application.css">
    <script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/raphael-min.js"></script>
    <script type="text/javascript" src="js/kanjiviewer.js"></script>
</head>
<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="index.html">KanjiVG</a>

            <div class="nav-collapse">
                <form class="navbar-search pull-right" method="get" action="/viewer.html">
                    <input type="text" class="search-query" placeholder="View kanji" name="kanji">
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header">Project</li>
                    {% for link in site.project-links %}
                    {% assign active = nil %}
                    {% assign white = nil %}
                    {% if page.name == link.url %}
                    {% assign active = 'active' %}
                    {% assign white = 'icon-white' %}
                    {% endif %}
                    <li class="{{ active }}">
                        <a href="{{ link.url }}"><i class="icon-{{ link.icon }} {{ white }}"></i>{{ link.text }}</a>
                    </li>
                    {% endfor %}

                    <li class="nav-header">Community</li>
                    {% for link in site.community-links %}
                    {% assign active = nil %}
                    {% assign white = nil %}
                    {% if page.name == link.url %}
                    {% assign active = 'active' %}
                    {% assign white = 'icon-white' %}
                    {% endif %}
                    <li class="{{ active }}">
                        <a href="{{ link.url }}"><i class="icon-{{ link.icon }} {{ white }}"></i>{{ link.text }}</a>
                    </li>
                    {% endfor %}

                    <li class="nav-header">Tools</li>
                    {% for link in site.tool-links %}
                    {% assign active = nil %}
                    {% assign white = nil %}
                    {% if page.name == link.url %}
                    {% assign active = 'active' %}
                    {% assign white = 'icon-white' %}
                    {% endif %}
                    <li class="{{ active }}">
                        <a href="{{ link.url }}"><i class="icon-{{ link.icon }} {{ white }}"></i>{{ link.text }}</a>
                    </li>
                    {% endfor %}

                </ul>
            </div>
        </div>
        <div class="span10">
            {{ content }}
        </div>
    </div>
    <hr>
    <footer>
        <p>&copy; 2009 &mdash; 2012 {{ site.author }} &mdash; <a href="index.html">Licensing</a></p>
    </footer>
</div>
</body>
</html>

