<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    {% if site.author %}
    <meta name="author" content="{{ site.author }}"/>
    {% endif %}
    {% if page.description %}
    <meta name="description" content="{{ page.description }}"/>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if lt IE 9]>
    <script type="application/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }

        .sidebar-nav {
            padding: 9px 0;
        }
    </style>
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="css/application.css">
</head>
<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="index.html">KanjiVG</a>

            <div class="nav-collapse">
                <form class="navbar-search pull-right">
                    <input type="text" class="search-query" placeholder="Search">
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header">Project</li>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="download.html">Download</a></li>
                    <li><a href="format.html">Format</a></li>
                    <li><a href="conventions.html">Conventions</a></li>
                    <li><a href="internationalization.html">Internationalization</a></li>
                    <li><a href="incorrect-kanji.html">Incorrect kanji</a></li>
                    <li><a href="https://github.com/Gnurou/kanjivg/issues">Issues</a></li>
                    <li class="nav-header">Community</li>
                    <li><a href="http://groups.google.com/group/kanjivg">Mailing list</a></li>
                    <li><a href="projects.html">Projects using KanjiVG</a></li>
                    <li class="nav-header">Tools</li>
                    <li><a href="viewer.html">Viewer</a></li>
                </ul>
            </div>
        </div>
        <div class="span10">
            {{ content }}
        </div>
    </div>
    <hr>
    <footer>
        <p>&copy; 2009 &mdash; 2012 {{ site.author }} &mdash; Please see <a href="index.html">licensing</a>.</p>
    </footer>
</div>
<script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/raphael-min.js"></script>
<script type="text/javascript" src="js/kanjiviewer.js"></script>
<script type="text/javascript" src="js/application.js"></script>
</body>
</html>

